server {
    listen {{ manifest.routing.address }}:{{ manifest.routing.port }};
    server_name {{ manifest.routing.domain }};

    location {{ manifest.routing.path }} {
        {% if manifest.routing.path != "/" %}
        # Strip the prefix by adding a trailing slash to proxy_pass
        proxy_pass http://{{ container_ip }}{% if container_port %}:{{ container_port }}{% endif %}/;
        {% else %}
        proxy_pass http://{{ container_ip }}{% if container_port %}:{{ container_port }}{% endif %};
        {% endif %}
        
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    {% if custom_conf %}
    # --- Custom Configuration Injected ---
    {{ custom_conf }}
    {% endif %}
}
